@using PatternCreator.Models
@model object[]


@Styles.Render("~/bundles/EditorPattern-css")

@{
    ViewBag.Title = "Редактор шаблонов";
}

<div id=BlockOne>
    <div class="ButtonsContain">
        @using (Html.BeginForm("Create", "Pattern", FormMethod.Post, new { enctype = "multipart/form-data", id = "submitImg" }))
        {
                @*<span class="blueButtonText">Добавить шаблон</span>*@
            <input type="file" name="uploadImage" value="" id="file-input" class="hidden-input" />
            <label for="file-input" class="blueButton">
                <span class="blueButtonText">Загрузить документ</span>
                <img src="/Resourses/svg/add doc (1) white.svg" class="AddPatternImg">
            </label>
        }
        <button class="greyButton">
            <span class="greyButtonText">Удалить шаблон</span>
            <img src="/Resourses/svg/delete-grey.svg" class="DeletePatternImg">
        </button>

        <div class="findButton">
            <input type="text" class="InputStyle" placeholder="Поиск по шаблонам">
            <button class="findIcon">
                <img src="/Resourses/svg/magnifying-glass (3).svg" style=" width: 25px; height: 20px;">
            </button>
        </div>
    </div>

    <div id="patternsContain">

        @foreach (var item in (Model[0] as List<PictureModel>))
        {
            var item1 = "openModal" + item.Id;
            var item2 = "#openModal" + item.Id;

            <div class="patternRectangle">
                <span class="ImageName">
                    @item.Name
                </span>
                <a href=@item2 id="link">
                    <button class="patternBut" pictureID="@item.Id">
                        @Html.Raw("<img class='imgStyle' src=\"data:image/jpeg;base64,"
                                  + Convert.ToBase64String(item.Image) + "\" />")
                    </button>
                </a>
                @*@using (Html.BeginForm("UpdatePicture", "Pattern", FormMethod.Post, new { }))*@
                @*{*@
                <div>
                    <div id=@item1 class="update-picture-modal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <a href="#close" title="Close" class="close">×</a>
                                </div>
                                <div class="modal-body">

                                    <div class="modelContent">
                                        <div class="modelBlockOne">
                                            <div class="manageBlockModel">
                                                <div class="namePatternModel">
                                                    @Html.Hidden("Id", item.Id)
                                                    <input type="text" name="Name" value="@item.Name" class="inputModelName">
                                                </div>
                                            </div>

                                            <div class="buttonsContainModal">
                                                <button type="button" class="blueButtonsModal add-text">
                                                    <span>Добавить текст</span>
                                                </button>

                                                <button type="button" class="blueButtonsModal GridUp">
                                                    <span>Увеличить сетку</span>
                                                </button>

                                                <button type="button" class="blueButtonsModal GridDown">
                                                    <span>Уменьшить сетку</span>
                                                </button>
                                            </div>



                                            <div class="mainEditor">

                                                <table id="tableRed">
                                                    <tr><td></td><td></td><td></td><td></td></tr>
                                                    <tr><td></td><td></td><td></td><td></td></tr>
                                                    <tr><td></td><td></td><td></td><td></td></tr>
                                                    <tr><td></td><td></td><td></td><td></td></tr>
                                                </table>

                                                <div class="img-wrap" picture-id="@item.Id">
                                                    @Html.Raw("<img class='imgModalStyle' src=\"data:image/jpeg;base64,"
                                                              + Convert.ToBase64String(item.Image) + "\" />")
                                                </div>
                                                <div class="ZoomContain">
                                                    <button type="button" class="rectangleWhite">
                                                        <img src="/Resourses/svg/grid.svg" class="InzoomModal"/>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="saveButtonModal">
                                                <button class="blueButtonsModal save">
                                                    <span>Соханить</span>
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*}*@
                </div>
            </div>
        }
        </div>

</div>
<div id="positions" style="display: none;">
    @foreach (var block in (Model[1] as List<PositionModel>))
    {
        <div position-id="@block.Id" position-x="@block.PosX" position-y="@block.PosY" position-width="@block.Width" picture-id="@block.PictureId" Type="@block.Type" font-size="@block.FontSize" text="@block.Text"></div>
    }

</div>

@section Scripts{
    @Scripts.Render("~/bundles/EditorPattern-js")
}


