@using PatternCreator.Models
@model List<UserModel>


<div id="afterTable" style="display: none">
    
    
    <div style="width: 181px;
    color: #333333;
    font-family: &quot;Open Sans&quot;;
    font-size: 18px;
    font-weight: 700; margin-top: 10px; margin-bottom: 10px;">
        <span>Результаты поиска:</span>
    </div>

    @{
        foreach (var userModel in Model)
        {




            <table id="TableTwoStyle">

                <tr class="ignoreTr">


                    <th style="width: 20px;"></th>
                    <th style="width: 250px;"></th>
                    <th style="width: 300px;"></th>
                    <th style="width: 350px;"></th>
                    <th style="width: 100px;"></th>

                </tr>

                <tr class="paritalTr" userId="@userModel.Id">

                    <td>

                        @userModel.Id
                    </td>

                    <td userName="@userModel.Name">
                        <span>@userModel.Name</span>

                        @Html.EditorFor(model => (model[0] as UserModel).Name, new {htmlAttributes = new {@class = "EditCol", PlaceHolder = "Имя"}})
                    </td>

                    <td userSurname="@userModel.Surname">
                        <span>@userModel.Surname</span>

                        @Html.EditorFor(model => (model[0] as UserModel).Surname, new {htmlAttributes = new {@class = "EditCol", PlaceHolder = "Фамилия*"}})
                    </td>

                    <td userPatronymic="@userModel.Patronymic">

                        <span>@userModel.Patronymic</span>

                        @Html.EditorFor(model => (model[0] as UserModel).Patronymic, new {htmlAttributes = new {@class = "EditCol", PlaceHolder = "Отчество*"}})

                        <button class='IconButtonsSaveUserParital'>
                            <img src='/Resourses/svg/save-file.svg' class='ManageIconStyle'>
                        </button>


                    </td>




                    @Html.Hidden("CompanyId", userModel.CompanyId)







                </tr>






            </table>

            
        }


        <button class="glo">
            <span>Очистить поиск</span>
        </button>
    }


</div>


    <script>

     $(document).ready(function() {


         $("button.glo").click(function() {
             $(document.querySelector("#afterTable")).fadeOut("slow");
             $("div.bufferDiv").fadeIn("slow");
         });




         $(".IconButtonsSaveUserParital").click(function(e) {
             $.ajax({
                 type: "GET",
                 url: "@Url.Action("EditUserParital", "Pattern")",
                 data: {
                     userId: $(this).parent().parent().attr("userId"), 
                     Name: $(this).parent().parent().children()[1].children[1].value,
                     Surname: $(this).parent().parent().children()[2].children[1].value,
                     Patronymic: $(this).parent().parent().children()[3].children[1].value,
                     CompanyId: $(this).parent().parent().children()[4].value
                    


                 },
                 success: function(data) {
                     document.location = "/Pattern/Home";


                 },
                 error: function(data) {
                     alert(data);
                 }

             });

         });



        $(".CompanyDelete").click(function(e) {

            let answer = confirm("Вы уверены?");
            if (answer == true) {


                $.ajax({
                    type: "GET",
                    url: "@Url.Action("RemoveCompany", "Pattern")",
                    data: "id=" + $(this).val(),
                    success: function(data) {
                        //$(e.target).parent().parent().parent().remove();
                        $(e.target).parent().parent().parent().parent().remove();


                    },
                    error: function() {
                        alert("Произошла ошибка, попробуйте позже");
                    }

                });


            }


        });


     });


     $("tr.paritalTr").hover(function() {

         $(this).addClass("ColoredTr");
         let block = $(`<div class='IconUtilities'>



        <button class='IconButtonsEdit' name="action" value="edit">
            <img src='/Resourses/svg/pencil-edit-button (2).svg' class='ManageIconStyle'>
        </button>

        <button class='IconButtonsDelete' name="action" value="delete">
            <img src='/Resourses/svg/delete.svg' class='ManageIconStyle'>
        </button>




          </div>`);


         $(this).append(block);

         $(".IconButtonsEdit").click(function(e) {


             let input = $(".ColoredTr > td > input");

             let span = $(".ColoredTr > td > span");

             let saveButton = $("tr.ColoredTr").children()[3].children[2];


             console.log(saveButton);


             $(span).css("display", "none");

             $(input).css("display", "initial");
             $(saveButton).css("display", "contents");


         });

        

            $(".IconButtonsDelete").click(function() {

                $(".ColoredTr").remove();

                $.ajax({
                    type: "GET",
                    url: "@Url.Action("RemoveUser", "Pattern")",
                    data: "id=" + $(this).parent().parent().attr("userId"),
                    success: function(data) {
                        //$(e.target).parent().parent().parent().remove();


                    },
                    error: function(data) {
                        alert(data);
                    }

                });


            });


        },
        function() {

            $(".ColoredTr").removeClass();
            $("div.IconUtilities").remove();

        }
    );
    </script>

