@using PatternCreator.Models
@using PatternCreator.Utilities
@model List<CompanyViewModel>

<table class="table w-100" id="searchTable">
    <thead class="text-center">
    <th><span>№</span></th>
    <th><span>Имя</span></th>
    <th><span>Фамилия</span></th>
    <th><span>Отчество</span></th>
    <th><span>Компания</span></th>
    <th></th>
    </thead>
    <tbody>
        @foreach (var company in Model)
        {
            foreach (var user in company.UserViewModels)
            {


                <tr>
                    <td>@user.Id</td>
                    <td>@user.Name</td>
                    <td>@user.Surname</td>
                    <td>@user.Patronymic</td>
                    <td>@company.CompanyName</td>
                    <td>
                        <button class="AddButton">
                            <img src="/Resourses/svg/add.svg" style="width: 20px; height: 15px" />
                        </button>
                    </td>
                </tr>


            }
        }
    </tbody>
</table>


